.mantenimientos-container {
    padding: 20px;
  }
  
  .p-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4D8AFF;
  }
  
  .estudiante-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .acciones {
    margin-bottom: 20px;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .mantenimientos-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mantenimientos-table th, .mantenimientos-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .table-header th {
    background-color: #135a94;
    font-weight: bold;
  }
  
  .no-data {
    text-align: center;
    padding: 20px;
    color: #999;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
/* Estilos para el input de búsqueda */
.fecha-busqueda-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  width: 250px;
  margin: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.fecha-busqueda-input:focus {
  border-color: #1976d2;
  box-shadow: 0 0 6px rgba(25, 118, 210, 0.5);
  outline: none;
}
  
.filtros-fechas {
  display: flex;
  gap: 1rem; /* Espacio horizontal entre ellos (puedes usar px si prefieres: 16px) */
  flex-wrap: wrap; /* Para que se acomoden en pantallas pequeñas */
}

.buscador{
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  display: flex;
  justify-content: center;
   /* Espacio horizontal entre ellos (puedes usar px si prefieres: 16px) */
  flex-wrap: wrap; /* Para que se acomoden en pantallas pequeñas */
}