<!-- cabecera.component.html -->
<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="Menú">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Automotriz Pepito</span>

  <!-- Mensaje solo cuando esté logueado -->
  <span *ngIf="isLoggedIn" class="bienvenida">
    Bienvenido {{ usuario }}
  </span>

  <span class="spacer"></span>

  <!-- Botón iniciar o cerrar según estado -->
  <button mat-button *ngIf="!isLoggedIn" (click)="irALogin()">
    Iniciar Sesión
  </button>
  <button mat-button color="warn" *ngIf="isLoggedIn" (click)="cerrarSesion()">
    Cerrar Sesión
  </button>
</mat-toolbar>
