.reportes-container {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #9e0acb;
  /* color: #3f51b5; */
}

/* Estilo para etiquetas fuera del gráfico */
::ng-deep .pie-label {
  fill: white !important;
  font-size: 16px !important;
  font-weight: bold;
}



/* Estilo para los textos de la leyenda */
::ng-deep .legend-label {
  font-size: 20px;
  color: white !important;
}

.reportes-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* CENTRAR HORIZONTAL */
  justify-content: center; /* CENTRAR VERTICAL si se da altura */
  padding: 24px;
  background-color: #0f1126; /* o tu color base */
  border-radius: 12px;
  min-height: 0vh;
  text-align: center;
}



.reportes-container {
    padding: 2rem;
    background-color: #1a1a2e;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
  }
  

  .grafico-mantenimientos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.grafico-mantenimientos h2 {
  color: #66bb6a;
  margin-bottom: 20px;
}

/* Cambiar color de las etiquetas del eje X (Preventivo, Correctivo) */
::ng-deep .x.axis text {
  fill: white !important;
  font-weight: bold;
}


/* Aumentar ancho del contenedor de la leyenda */
/* ::ng-deep .legend-items-container {
  width: 250px !important;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
} */

/* Forzar visibilidad completa de los textos de leyenda */
/* ::ng-deep .legend-label {
  max-width: unset !important;
  white-space: nowrap !important;
  overflow: visible !important;
  text-overflow: unset !important;
  font-size: 15px;
  color: white !important;
} */

.top-conductores, .estado-conductores {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.top-conductores h2 {
  color: #ffd54f;
}

.estado-conductores h2 {
  color: #42A5F5;
}

/* Eje Y: nombres de los conductores */
::ng-deep .y.axis text {
  fill: white !important;
  font-size: 15px;
  font-weight: bold;
}

/* Eje X: valores numéricos */
::ng-deep .x.axis text {
  fill: white !important;
  font-size: 13px;
  font-weight: bold;
}



  