.full-width-dialog {
    width: 100%;
    margin-bottom: 15px;
}

div[mat-dialog-actions] {
    padding-top: 16px;
    justify-content: flex-end;
}

#main-title,
h1[mat-dialog-title] {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding-top: 10px;
}

.dialog-form-container {
    padding-top: 10px;
}