<h1 mat-dialog-title>Editar asignacion</h1>
<div mat-dialog-content>
  <form [formGroup]="form"  class="form-container-main">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name" required>
      <mat-error *ngIf="form.controls['name'].hasError('required')">El nombre es requerido</mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de Licencia</mat-label>
      <input matInput placeholder="Tipo de Licencia" formControlName="license" required>
      <mat-error *ngIf="form.controls['license'].hasError('required')">El tipo de licencia es requerido</mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="outline">
      <mat-label>Fecha expiracion de Licencia</mat-label>
      <input type="date" matInput placeholder="Fecha expiracion" formControlName="expDate" required>
      <mat-error *ngIf="form.controls['expDate'].hasError('required')">La fecha de expiracion de licencia es requerido</mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="form.controls['email'].hasError('required')">El email es requerido</mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="outline">
      <mat-label>Calificacion de conductor</mat-label>
      <input type="number" max="5" matInput placeholder="Calificacion" formControlName="rating" required>
      <mat-error *ngIf="form.controls['rating'].hasError('required')">La calificacion del conductor es requerida</mat-error>
    </mat-form-field><br>

    <div class="status-container">
      <label for="status">Estado:</label>
      <select id="status" formControlName="status">
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </div>

    <div class="cancel-ok-container">
      <button type="button" title="cancelar accion" mat-button (click)="onNoCLick()">Cancelar</button>
      <button type="button" (click)="guardar()" title="confirmar accion" mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid" color="primary">Guardar</button>
    </div>

  </form>

</div>
